.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  color: #6b6b6b;
  gap: 2rem;
}

.container::before {
  content: '';
  width: 4rem;
  height: 1rem;
  border-radius: 50vw;
  background: var(--cl-secondary);
}

@media (min-width: 1201px) {
  .container {
    justify-content: flex-start;
  }
}
